* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}

body {
  min-width: 100%;
  min-height: 100%;
}

header {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 100%;
  min-height: 120px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0;
}

.header__announcement {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #222222;
  border-bottom: 1px solid #555555;
  padding-bottom: 8px;
}

nav {
  width: 100%;
  padding: 0 40px;
}
.header__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin-top: 24px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #222222;
  margin-right: 24px;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}

/*   ------------------------------------  INGRIDIENTS -------------------------- */

.ingredients__section {
  display: flex;
  width: 100%;
  height: 100vh;
}

.ingredient__description {
  flex: 1.2;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 80px;
}

.description__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #222222;
}

.description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #222222;
  padding: 24px 0px 62px 0px;
}

.description__boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 24px;
}

.description__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 193px;
  height: 178px;
  background: #e9e9ff;
}

.box__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  padding-top: 16px;
}

.description__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #222222;
  margin-top: 40px;
  text-decoration: none;
  border-bottom: 2px solid #7373d7;
}

.ingredient__image {
  flex: 1;
  max-width: 100%;
}

/* ---------------------------  PRODUCTS LIST ---------------------------- */

.products__section {
  margin-top: 30px;
  height: fit-content;
  padding: 100px 80px;
}

.header__controllers {
  display: flex;
  position: relative;
  margin-top: 16px;
}
.product__card {
  max-width: 100%;
  max-height: 100%;
  background: #7373d7;
}

.products__section .header__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #222222;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  height: 85%;
  padding: 16px;
}

.image__badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  background: #c9c9ff;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-transform: uppercase;
  text-align: center;
  color: #7373d7;
  margin-left: auto;
  /* padding: 10px; */
}

.image__cta {
  margin-top: 12%;
  font-weight: 400;
  height: 100%;
  font-size: 16px;
  width: 100%;
  padding: 10px 0;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  border-top: 1px solid #ffffff;
}

.image__cta a {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.card__details {
  margin-top: auto;
  background: #fff;
  width: 100%;
  min-height: 15%;
  padding-top: 8px;
}

.details__title,
.details__price {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #222222;
  padding-bottom: 5px;
}

.details__price span {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  text-decoration-line: line-through;
  color: #555555;
  opacity: 0.5;
  margin-right: 8px;
}

.products__list {
  display: flex;
  margin-top: 30px;
  height: fit-content;
}

.products__swiper1 {
  width: 100%;
  height: 630px;
  margin: 20px 0;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 12px !important;
  color: white;
}
.swiper-button-prev,
.swiper-button-next {
  width: 35px !important;
  height: 35px !important;
  position: static;
  background: #7373d7;
  border-radius: 17.5px;
}

.swiper1 {
  width: 100%;
  height: 630px;
  margin: 20px 0;
}

.swiper-wrapper {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* --------------------- CUSTOMER ----------------- */

.customers__section {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  background: #9292ff;
  width: 100%;
  height: 580px;
  padding: 80px;
}

.customer__aside {
  display: flex;
  /* align-items: center; */
  flex: 1;
  flex-direction: column;
}

.aside__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
}

.aside__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
}

.customer-swiper {
  flex: 3;
  width: 100%;
  height: 400px;
}

.swiper-button-prev-customer::after,
.swiper-button-next-customer::after {
  font-size: 12px !important;
  color: white;
}
.swiper-button-prev-customer,
.swiper-button-next-customer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  width: 35px !important;
  height: 35px !important;
  cursor: pointer;
  position: static;
  background: #7373d7;
  border-radius: 17.5px;
  margin-right: 8px;
}

.customer__image {
  max-width: 100%;
  max-height: 100%;
}

/* --------------------------- DETAILS PRODUCTION ------------------- */

.details__production {
  display: flex;
  /* align-items: center; */
  padding: 80px;
}

.production__gallery {
  display: flex;
  flex: 1;
  margin-right: 24px;
}

.gallery__aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  min-width: 85px;
  margin-right: 24px;
}
.gallery__aside img,
.gallary__main__image img {
  max-width: 100%;
  background: #7373d7;
}
.gallery__aside img {
  margin-bottom: 30px;
  padding: 11px 0;
}
.gallary__main__image {
  flex: 5;
  min-width: 520px;
  background: #7373d7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallary__main__image img {
  /* max-width: 80%;
  height: 80%; */
}

.details__content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.product__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  text-transform: uppercase;
  color: #222222;
}
.product__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #222222;
  margin: 8px 0 24px 0;
}
.product__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #222222;
}
.product__text span {
  font-weight: 600;
}

.product__details {
  padding: 0 10rem 40px 80px;
}

.product__size {
  padding: 24px 0 8px 0;
}

.product__varients {
  display: flex;
  align-items: center;
}

.product__varients div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 38px;
  border: 1px solid #b7b7b7;
  opacity: 0.5;
  margin-right: 16px;
}

.variant__one {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #222222;
  opacity: 1 !important;
}
.unavailbale {
  text-decoration: line-through;
}

.product__subscriptions {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

.subscription__element {
  display: flex;
}

.subscription__element label {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #222222;
  margin-left: 8px;
}

.cta__wrapper {
  display: flex;
  flex-direction: column;
}

.cta__controllers {
  display: flex;
  align-items: center;
  height: 55px;
}

.qty__controller {
  flex: 16;
  min-width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #222222;
  padding: 0 30px;
  height: 100%;
  border: 1px solid #b7b7b7;
}

.cta__button {
  display: flex;
  height: 100%;
  align-items: center;
  flex: 30;
  justify-content: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #7373d7;
}

.cta__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #222222;
  margin-top: 14px;
}

.cta__text a {
  margin-left: 8px;
}

.products__dropdowns {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.dropdown__element {
  display: flex;
  width: 100%;
  height: 54px;
  align-items: center;
  border-bottom: 1px solid rgba(85, 85, 85, 0.37);
}
.dropdown__element span {
  font-size: 16px;
  color: #7373d7;
  margin-left: auto;
}

.location {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #555555;
  opacity: 0.5;
  padding-left: 80px;
}

.location object {
  padding: 0 8px;
}

.location span {
  opacity: 1 !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #222222;
}

/* -------------------------------------  MOBILE   ---------------------------------- */

@media (max-width: 1400px) {
  .ingredient__image {
    display: none;
  }
}
@media (max-width: 1100px) {
  .header__links ul li:not(.mobile) {
    display: none;
  }

  .details__production {
    flex-direction: column;
    padding: 40px;
  }
  .product__details {
    padding: 16px 0px;
  }
  /* .gallary__main__image img {
    max-width: 100%;
    height: 100%;
  } */
  .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.swiper__gallary {
  /* position: relative; */
  /* display: flex; */
  flex-direction: column;
}

.swiper-pagination-gallary {
  position: relative;
  display: flex;

  margin-top: auto;
  margin: auto 24px 0 24px;
}

.swiper-mobile {
  display: none;
}

.swiper-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.swiper-button-prev-gallary,
.swiper-button-next-gallary {
  font-size: 20px;
  color: #fff;
  margin-bottom: auto;
  cursor: pointer;
}

@media (max-width: 800px) {
  .header__links img {
    width: 40%;
    margin-right: 15px;
  }
  .location {
    display: none;
  }
  .gallery__aside {
    display: none;
  }
  .details__production {
    padding: 1rem;
  }
  .swiper-mobile {
    display: inherit;
  }
  .production__gallery {
    align-items: center;
  }
  .gallary__main__image {
    min-width: 350px;
  }

  .description__boxes {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    margin-bottom: 40px;
  }
  .ingredient__description {
    padding: 0 40px;
    display: block;
  }
  .description__text {
    padding: 16px 0 24px 0;
    text-align: start;
  }
  .description__box {
    display: flex;
    width: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    border-top: 1px solid #42210b;
    padding-left: 16px;
    height: 73px;
  }
  .box__title {
    margin-left: 10px;
  }
  .description__box object {
    width: 40px !important;
    height: 40px !important;
  }
  .box__arrow {
    margin-left: auto;
    width: 5px !important;
    transform: rotate(90deg);
  }

  .products__section {
    padding: 50px 40px;
  }
  .products__section .header__title {
    font-size: 24px;
  }
  .header__controllers {
    display: none;
  }
  .products__swiper1 {
    height: fit-content;
  }
  .customers__section {
    flex-direction: column;
    padding: 40px;
  }
  .aside__title {
    font-size: 24px;
  }
  .customer__aside {
    flex: 0;
    margin-bottom: 20px;
  }
}
