* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: url(/assets/imgs/header-img.jpg);
  background-position: center;
  /* background-repeat: no-repeat; */
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0;
}

.header__announcement {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #ffffff;
  margin: 0 auto;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #fff;
}

nav {
  width: 100%;
  padding: 0 40px;
}
.header__links__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin-top: 24px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-right: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
nav ul li a {
  color: inherit;
  text-decoration: none;
}

.header__content {
  max-width: 800px;
  width: 100%;
  margin: auto auto 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__content__subtext {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 16px;
}
.header__content__maintext {
  font-weight: 700;
  font-size: 80px;
  line-height: 90%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.header__content__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 55px;
  background: #7373d7;
  border-radius: 28px;
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  margin-top: 40px;
  cursor: pointer;
  outline: none;
}

.section__products__header__button__prev {
  transform: rotate(180deg);
}

.products__section {
  padding: 100px 0 46px 80px;
}

.section__products__header {
  display: flex;
  align-items: center;
}

.section__products__header__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #222222;
}

.section__products__header__controllers {
  display: flex;
  align-items: end;
  margin: 0 80px 0 auto;
  position: relative;
}

.section__products__header__controllers a {
  margin-right: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #222222;
  border-bottom: 2px solid #7373d7;
  text-decoration: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 12px;
  color: white;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  background: #7373d7;
  border-radius: 17.5px;
  width: 35px;
  height: 35px;
}

.swiper-button-prev {
  margin-right: 5px;
}

.section__products__item {
  max-width: 100%;
  min-height: fit-content;
  background: #7373d7;
}

.section__products__item__view {
  height: 85%;
}

.section__products__item__footer {
  /* display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  height: 34px; */
  margin: 12% 16px 16px 16px;
  font-weight: 400;
  height: 100%;
  font-size: 16px;
  padding-top: 10px;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  border-top: 1px solid #ffffff;
}

.section__products__item__footer a {
  text-decoration: none;
  color: inherit;
}
.section__products_list {
  margin-top: 30px;
  height: fit-content;
}

.section__products__item__status {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #c9c9ff;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-transform: uppercase;
  text-align: center;
  color: #7373d7;
  margin: 16px 16px 16px auto;
}

.section__products__item:hover .section__products__item__status {
  background: #fff;
}

.section__products__item__image {
  margin-left: 50%;
  transform: translate(-50%);
  max-width: 325px;
  max-height: 325px;
}

.section__products__item__description {
  margin-top: auto;
  background: #fff;
  width: 100%;
  min-height: 15%;
  padding-top: 8px;
}

.section__products__item__description h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #222222;
  padding-bottom: 5px;
}

.section__products__item__description h4 span {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  text-decoration-line: line-through;
  color: #555555;
  opacity: 0.5;
  margin-right: 8px;
}

/* ------------------------- PERFUME SECTION  ---------------------*/

.perfumes__section {
  display: flex;
  flex-direction: column;
  padding: 45px 80px 80px;
}
.perfumes__section__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin: 45px 0 16px 0;
}
.perfumes__section__maintitle {
  font-weight: 600;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  max-width: 960px;
  margin: 0 auto;
}

.perfumes__section__maintitle span {
  color: #7373d7;
  margin: 0 auto;
  display: block;
  width: fit-content;
  border-bottom: 1px dashed #7373d7;
}
.perfumes__section__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  margin-top: 56px;
}
.perfumes__section__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* flex: 1; */
  max-width: 254px;
}

.swiper-wrapper {
  display: flex;
  height: fit-content;
  align-items: center;
}
.perfumes__section__item__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.perfumes__section__item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #222222;
}

.perfume__swiper__mobile {
  display: none;
}

@media (max-width: 1100px) {
  .header__content__maintext {
    font-size: 60px;
    line-height: 100%;
  }
}

@media (max-width: 1100px) {
  .header__links__wrapper ul li:not(.mobile) {
    display: none;
  }

  .header__links__wrapper ul .mobile {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .header__content__subtext {
    font-size: 16px;
  }
  .header__content__maintext {
    font-size: 48px;
  }

  .section__products__header {
    flex-direction: column;
    align-items: flex-start;
  }
  .section__products__header__controllers {
    margin: 16px 0 0 0;
  }

  .perfumes__section__list {
    flex-direction: column;
  }
  .header__links__wrapper img {
    width: 50%;
    margin-right: 15px;
  }
}

.swiper1 {
  width: 100%;
  height: 630px;
  margin: 20px 0;
}
.products__section {
  padding: 90px 16px 0 16px;
}
.swiper-pagination2 {
  /* bottom: -20px !important;
  z-index: 100 !important; */
}
